.text-edit-wrap {
	display: inline-flex;
	.text {
		font-size: 16px;
		margin-right: 10px;
	}
	.edit-button {
		color: #2077ff;
		border: 0;
		cursor: pointer;
		outline: none;
		padding: 0;
		font-size: 12px;
		&:disabled {
			cursor: not-allowed;
			color: #d6d6d6;
		}
	}
}
.text-editing-wrap {
	display: inline-flex;
	flex-direction: column;
	input {
		height: 32px;
		border-radius: 3px;
		transition: all 100ms linear;
		border: 1px solid #C4C6CF;
		background-color: #fff;
		padding: 0 8px;
    font-size: 14px;
		width: 200px;
		outline: none;
		&:hover {
			border-color: #A0A2AD;
		}
		&:focus {
			border-color: #3080fe;
		}
	}
	p {
		padding-top: 10px;
		margin: 0;
		button {
			margin: 0;
			outline: none;
			cursor: pointer;
			user-select: none;
			transition: all 100ms linear;
			border-radius: 3px;
			padding: 0 8px;
			height: 24px;
			line-height: 22px;
			font-size: 12px;
		}
		button + button {
			margin-left: 10px;
		}
		.text-editing-button-ok {
			border: 1px solid rgba(0,0,0,0);
			background-color: #3080FE;
			color: #fff;
			&:hover {
				background-color: #1861D5;
			}
		}
		.text-editing-button-cancel {
			border: 1px solid #C4C6CF;
			background-color: #fff;
			color: #333;
			&:hover {
				background-color: #F2F3F7;
			}
		}
	}
}